:root {
   --width: 720px;
   --font-main: "JetBrains Mono", monospace;
   --font-secondary: "JetBrains Mono", monospace;
   --font-scale: 1em;
   --background-color: #01242e; /* old #fff */
   --heading-color: #eeeeee; /* old #222 */
   --text-color: #dddddd;
   --link-color: #8cc2dd;
   --visited-color: #8cc2dd;
   --code-background-color: #000;
   --code-color: #ddd;
   --blockquote-color: #ccc;
   --shade-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background-color: #01242e;
      --heading-color: #eeeeee;
      --text-color: #dddddd;
      --link-color: #8cc2dd;
      --visited-color: #8b6fcb;
      --code-background-color: #000;
      --code-color: #ddd;
      --blockquote-color: #ccc;
   }
}

body {
   font-family: var(--font-secondary);
   font-size: var(--font-scale);
   margin: auto;
   padding: 20px;
   max-width: var(--width);
   text-align: left;
   background-color: var(--background-color);
   word-wrap: break-word;
   overflow-wrap: break-word;
   line-height: 1.5;
   color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-main);
   color: var(--heading-color);
}

a {
   color: var(--link-color);
   cursor: pointer;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

nav a {
   margin-right: 8px;
}

strong,
b {
   color: var(--heading-color);
}

button {
   margin: 0;
   cursor: pointer;
}

time {
   font-family: monospace;
   font-style: normal;
   font-size: 15px;
}

main {
   line-height: 1.6;
}

table {
   width: 100%;
}

hr {
   border: 0;
   border-top: 1px dashed;
}

img {
   max-width: 100%;
}

code {
   font-family: monospace;
   padding: 2px;
   background-color: var(--code-background-color);
   color: var(--code-color);
   border-radius: 3px;
}

blockquote {
   border-left: 1px solid #999;
   color: var(--code-color);
   padding-left: 20px;
   font-style: italic;
}

footer {
   padding: 25px 0;
   text-align: center;
}

.title:hover {
   text-decoration: none;
}

.title h1 {
   font-size: 1.5em;
}

.inline {
   width: auto !important;
}

.highlight,
.code {
   padding: 1px 15px;
   background-color: var(--code-background-color);
   color: var(--code-color);
   border-radius: 3px;
   margin-block-start: 1em;
   margin-block-end: 1em;
   overflow-x: auto;
}

/* blog post list */
ul.blog-posts {
   list-style-type: none;
   padding: unset;
}

ul.blog-posts li {
   display: flex;
}

ul.blog-posts li span {
   flex: 0 0 130px;
}

ul.blog-posts li a:visited {
   color: var(--visited-color);
}

/* Navigation */
nav {
   margin-bottom: 40px;
   line-height: 3;
   font-family: var(--font-secondary);
}
nav a {
   margin-right: 7px;
   padding: 12px 10px; /*15px 12px*/
   font-size: 0.9em;
   color: var(--link-color);
   border: 2px solid;
   border-color: var(--link-color);
   border-radius: 15px; /*15px*/
   text-decoration: none;
}
nav a:hover {
   background: var(--shade-color);
}
/* blog.html styling */
.blog-page ul {
   list-style-type: none;
   padding: 0;
   max-width: var(--width);
}

.blog-page li {
   display: flex;
   gap: 10px;
   align-items: flex-start;
   font-family: var(--font-main);
   color: var(--text-color);
}

.blog-page span {
   min-width: 100px;
   font-weight: normal;
   color: var(--text-color);
}

.blog-page a {
   flex: 1;
   text-decoration: none;
   color: var(--link-color);
   font-family: var(--font-main);
}

.blog-page a:visited {
   color: var(--visited-color);
}
footer {
   font-size: 14px; /* Set to your desired size */
}

.footnotes {
   font-size: smaller; /* Relative to parent element */
}
